<!doctype html>
<html>

<head>
  <base href="/">
  <script src="dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Wappler Extensions - API File Upload Action</title>
  <link rel="icon" href="https://slashash.co/i/logo.svg">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap/4/css/bootstrap.min.css" />
  <script src="dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
  <script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
  <link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
  <link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
</head>

<body is="dmx-app" id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="justify-content-center justify-content-md-between navbar navbar-expand-lg px-0">
          <a class="d-flex align-items-center navbar-brand text-body" href="https://community.wappler.io/t/about-the-wappler-extensions-category/26436" target="_blank" ref="noopener">
            <img src="https://community.wappler.io/uploads/default/original/1X/3b802060c30167b96f94ef35fbd0bdf3328d7e3b.png" height="36" class="mr-3">Extensions - API File Upload Action</a>
          <a class="navbar-brand" href="http://slashash.co" target="_blank" title="Designed &amp; Developed by Slashash Tech LLP" ref="noopener">
            <img src="https://slashash.co/i/made_by_SLASHASH.svg" alt="Designed &amp; Developed by Slashash Tech LLP"></a>
        </nav>
      </div>
    </div>
  </div>
  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="bootstrap/4/js/popper.min.js"></script>

  <script src="bootstrap/4/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      dmx.Formatter('object', 'stringifyJSON', function (param) {
          return JSON.stringify(param, null, 2);
      }
      );
    });
  </script>
</body>

</html>